# __________________________________ CONTENTS ___________________________________
#
#    'clang-format' configuration for version 21.1.3.
#    
#    Newer versions use a slightly different set of flags, in case of migration
#    following tool will prove rather helpful: https://clang-format-configurator.site
# _______________________________________________________________________________

---
BasedOnStyle: LLVM
AccessModifierOffset: -4
AlignArrayOfStructures: Right
AlignConsecutiveAssignments:
  Enabled: true
  AcrossComments: true
AlignConsecutiveBitFields:
  Enabled: true
  AcrossComments: true
  PadOperators: true
AlignConsecutiveDeclarations:
  Enabled: true
  AcrossComments: true
  PadOperators: true
AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AllowShortLoopsOnASingleLine: true
AlwaysBreakTemplateDeclarations: Yes
SortUsingDeclarations: false
ColumnLimit: 120
IndentWidth: 4
MaxEmptyLinesToKeep: 6
PointerAlignment: Left
SpacesInContainerLiterals: false
TabWidth: 4
StatementMacros:
  - utl_mvl_reqs
