# Ignore everything
*

# Whitelist directories
!*/
# Whitelist itself
!.gitignore
# Whilelist allowed extensions
!*.h
!*.hpp
!*.c
!*.cpp
!*.md
!*.txt

# Ignore build & temporary directories regarless of their contents
.cache/
build/
temp/