# Exclude dependencies from GitHub 'Languages' repository statistic
benchmarks/thirdparty/** linguist-vendored
test/thirdparty/** linguist-vendored

# Source diff format
*.cpp   text diff=cpp
*.hpp   text diff=cpp