# Ignore everything
*

# Whitelist directories
!*/
# Whitelist itself
!.gitignore
# Whilelist allowed extensions
# > Code
!*.h
!*.hpp
!*.c
!*.cpp
# > Scripts
!*.txt
!*.sh
# > Docs
!*.md
!*.svg
!*.jpg

# Ignore build & temporary directories regarless of their contents
.cache/
build/
temp/

# Ignore benhmarks until they are properly implemented
benchmarks/