# Ignore everything
*

# Whitelist directories
!*/
# Whitelist itself
!.gitignore
# Whilelist allowed extensions
!*.h
!*.hpp
!*.c
!*.cpp
!*.md

# Ignore build & temporary directories regarless of their contents
build/
temp/
.cache/

# Ignore work-in-progress directories
tests/